@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans KR", sans-serif;
}

header {
    margin-top: 100px;
    text-align: center;
}

#Title a {
    font-family: "Oswald";
    font-size: 48px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

#Wrapper {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #000;
    width: 700px;
    padding: 50px;
}

#Wrapper #Container {
    display: flex;
    flex-direction: column;
}

#Wrapper #Container #TodoForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

#Wrapper #Container #TodoForm #TodoInput {
    width: 90%;
    padding-left: 12px;
}

#Wrapper #Container #TodoForm #SubmitBtn {
    width: 40px;
    height: 40px;
    background: #000 url(./images/plus.png) center no-repeat;
    border: none;
    cursor: pointer;
}

#Wrapper #Container #TodoForm #SubmitBtn:hover {
    filter: invert(1);
}

#Wrapper #Container #TodoList > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

#Wrapper #Container #TodoList > li > input {
    width: 85%;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    text-indent: 8px;

    border-bottom: 1px solid #000;
}

#Wrapper #Container #TodoList > li > input.checked {
    text-decoration: line-through;
}

#Wrapper #Container #TodoList > li > input:disabled {
    font-size: 16px;
    border: none;
    outline: none;
}